@{ ViewData["Title"] = "Datos abiertos";

                List<SelectListItem> aniosSubsidio = (List<SelectListItem>)ViewBag.aniosSubsidio;

                List<SelectListItem> aniosFinanciamiento = (List<SelectListItem>)ViewBag.aniosFinanciamiento;

                List<SelectListItem> aniosCnbv = (List<SelectListItem>)ViewBag.aniosCnbv;

                List<SelectListItem> aniosOferta = (List<SelectListItem>)ViewBag.aniosOferta;

                List<SelectListItem> aniosRegistro = (List<SelectListItem>)ViewBag.aniosRegistro;

                List<SelectListItem> aniosInventario = (List<SelectListItem>)ViewBag.aniosInventario;

                string mes_financiamiento = ViewBag.mes_financiamiento;
                string mes_subsidio = ViewBag.mes_subsidio;
                string mes_cnbv = ViewBag.mes_cnbv;
                string mes_registro = ViewBag.mes_registro;
                string trimestre_inventario = ViewBag.trimestre_inventario;
}

@section Scripts{
    <script src="~/js/util.js" type="text/javascript"></script>
    <script type="text/javascript">
        var anio;
        var _conavi = 1, _financiamiento = 2, _ofertaVivienda = 3, _registroVivienda = 4, _diasInventario = 5, _cnbv = 7;
        var _csv = 1, _xlsx = 2;
        var lim_rows = 100;
        $(function () {
            $(".loader").hide();

            $('#dv_devep').hide();
            $('#img_dev').hide();

            $('#img_conavi').click(function () { mostrarSubcategoria(_conavi); });
            $('#img_financiamiento').click(function () { mostrarSubcategoria(_financiamiento); });
            $('#img_oferta_vivienda').click(function () { mostrarSubcategoria(_ofertaVivienda); });
            $('#img_registro_vivienda').click(function () { mostrarSubcategoria(_registroVivienda); });
            $('#img_dias_inventario').click(function () { mostrarSubcategoria(_diasInventario); });
            $('#img_cnbv').click(function () { mostrarSubcategoria(_cnbv); });

            $('#lnk_f').click(function (e) {
                $('.dv_contenido').hide();
                $('#dv_financiamiento').show();
                $('#dv_devep').hide();
                $('#img_dev').hide();
            });
            $('#lnk_r').click(function (e) {
                $('.dv_contenido').hide();
                $('#dv_oferta_vivienda').show();
                $('#dv_devep').hide();
                $('#img_dev').hide();
            });
            $('#lnk_d').click(function (e) {
                $('.dv_contenido').hide();
                $('#dv_devep').show();
                $('#img_dev').show();
            });

            $('#lnk_c').click(function (e) {
                $('#dv_devep').hide();
                $('#img_dev').hide();
            });

            $('#tab-active').addClass('active');
            $(".lst").click(function () {
                $("#lbl_subtitulo").text($(this).first().text());
            });
        });

        function descargar_dato(tipo, formato) {
            switch (tipo) {
                case _conavi:
                    anio = $('#ddl_anio_s').val();
                    break;
                case _financiamiento:
                    anio = $('#ddl_anio_f').val();
                    break;
                case _ofertaVivienda:
                    anio = $('#ddl_anio_ov').val();
                    break;
                case _registroVivienda:
                    anio = $('#ddl_anio_rv').val();
                    break;
                case _diasInventario:
                    anio = $('#ddl_anio_di').val();
                    break;
                default:
                    anio = $('#ddl_anio_cnbv').val();
                    break;
            }
            $.getJSON(path + 'ReporteAPI/GetDocumentoAnio/' + tipo + '/' + anio + '/' + formato, function (json) {
                window.open(json.documento);
            });
        }

        function mostrar_dato(tipo, formato) {
            var dv, tbl;
            switch (tipo) {
                case _conavi:
                    anio = $('#ddl_anio_s').val();
                    dv = $('#dv_s');
                    tbl = $('#tbl_s');
                    break;
                case _financiamiento:
                    anio = $('#ddl_anio_f').val();
                    dv = $('#dv_f');
                    tbl = $('#tbl_f');
                    break;
                case _ofertaVivienda:
                    anio = $('#ddl_anio_ov').val();
                    dv = $('#dv_ov');
                    tbl = $('#tbl_ov');
                    break;
                case _registroVivienda:
                    anio = $('#ddl_anio_rv').val();
                    dv = $('#dv_rv');
                    tbl = $('#tbl_rv');
                    break;
                case _diasInventario:
                    anio = $('#ddl_anio_di').val();
                    dv = $('#dv_di');
                    tbl = $('#tbl_di');
                    break;
                default:
                    anio = $('#ddl_anio_cnbv').val();
                    dv = $('#dv_cnbv');
                    tbl = $('#tbl_cnbv');
                    break;
            }
            dv.hide();
            $(".loader").show();
            $.getJSON(path + 'ReporteAPI/GetDocumentoAnio/' + tipo + '/' + anio + '/' + formato, function (json) {
                var archivo = 'https://sniiv-cors.herokuapp.com/' + json.documento;
                $.ajax({
                    url: archivo,
                    dataType: 'text',
                }).done(function (data, textStatus, jqXHR) {
                    var allRows = data.split(/\r?\n|\r/);
                    var table = '<table class="table table-striped table-condensed">';
                    for (var singleRow = 0; singleRow < allRows.length; singleRow++) {
                        if (singleRow === 0) {
                            table += '<thead>';
                            table += '<tr>';
                        } else
                            table += '<tr>';
                        var rowCells = allRows[singleRow].split(',');
                        for (var rowCell = 0; rowCell < rowCells.length; rowCell++) {
                            if (singleRow === 0) {
                                table += '<th>';
                                table += rowCells[rowCell];
                                table += '</th>';
                            } else {
                                table += '<td>';
                                table += rowCells[rowCell];
                                table += '</td>';
                            }
                        }
                        if (singleRow === 0) {
                            table += '</tr>';
                            table += '</thead>';
                            table += '<tbody>';
                        } else
                            table += '</tr>';
                        if (singleRow === lim_rows)
                            break;
                    }
                    table += '</tbody>';
                    table += '</table>';

                    dv.show();
                    tbl.empty();
                    tbl.append(table);

                    $('html, body').animate({
                        scrollTop: dv.offset().top - 150
                    }, 500);
                })
                    .fail(function (jqXHR, textStatus, errorThrown) { console.log(errorThrown); })
                    .always(function () {
                        $(".loader").hide();
                    });
            });
        }

        function copiar_dato(tipo, formato) {
            switch (tipo) {
                case _conavi:
                    anio = $('#ddl_anio_s').val();
                    break;
                case _financiamiento:
                    anio = $('#ddl_anio_f').val();
                    break;
                case _ofertaVivienda:
                    anio = $('#ddl_anio_ov').val();
                    break;
                case _registroVivienda:
                    anio = $('#ddl_anio_rv').val();
                    break;
                case _diasInventario:
                    anio = $('#ddl_anio_di').val();
                    break;
                default:
                    anio = $('#ddl_anio_cnbv').val();
                    break;
            }
            $.getJSON(path + 'ReporteAPI/GetDocumentoAnio/' + tipo + '/' + anio + '/' + formato, function (json) {
                var dummy = document.createElement('textarea');
                document.body.appendChild(dummy);
                dummy.value = json.documento;
                dummy.select();
                document.execCommand('copy');
                document.body.removeChild(dummy);

                $('.lbl_copy').fadeIn(900);
                $('.lbl_copy').fadeOut(900);
            });
        }

        function mostrarSubcategoria(tipo) {
            $('.dv_contenido').hide();
            switch (tipo) {
                case _conavi:
                    $('#dv_conavi').show();
                    break;
                case _financiamiento:
                    $('#dv_financiamiento').show();
                    break;
                case _ofertaVivienda:
                    $('#dv_oferta_vivienda').show();
                    break;
                case _registroVivienda:
                    $('#dv_registro_vivienda').show();
                    break;
                case _diasInventario:
                    $('#dv_dias_inventario').show();
                    break;
                default:
                    $('#dv_banca').show();
                    break;
            }
        }

    </script>

    <style>
        .text-image {
            margin-top: 5px;
        }

        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

        .tab-content {
            border: none;
            padding: 0px;
        }

        .table-div {
            font-size: 10px;
            height: 350px;
            overflow-y: auto;
        }

        .lindsw {
            color: #B38E5D;
            font-size: 15px;
        }

        .img-rounded {
            max-width: 65%;
        }

            .img-rounded:hover {
                cursor: pointer;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                box-shadow: 0px 0px 5px 3px #999;
                -webkit-box-shadow: 0px 0px 5px 3px #999;
            }
    </style>
}

<div class="page-header">
    <h2>Datos Abiertos</h2>
</div>

<div id="tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" id="tab-active" class="lst"><a id="lnk_f" href="#f" aria-controls="f" role="tab" data-toggle="tab">Financiamientos de vivienda</a></li>
        <li role="presentation" class="lst"><a id="lnk_r" href="#r" aria-controls="r" role="tab" data-toggle="tab">Vivienda RUV</a></li>
        <li role="presentation" class="lst"><a id="lnk_c" href="#c" aria-controls="c" role="tab" data-toggle="tab">Capas geográficas</a></li>
        <li role="presentation" class="lst"><a id="lnk_d" href="#d" aria-controls="d" role="tab" data-toggle="tab">Desarrolladores</a></li>
    </ul>
    <br />
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="f">
            <div class="row">
                <div class="col-md-2 text-center">
                    <img src="~/img/datos_abiertos/logo5.png" id="img_financiamiento" alt="financiamientos" class="img-responsive center-block img-rounded">
                    <h5 class="text-image">Financiamientos</h5>
                    <br />
                    <img src="~/img/datos_abiertos/logo3.png" id="img_conavi" alt="conavi" class="img-responsive center-block img-rounded">
                    <h5 class="text-image">Subsidios CONAVI</h5>
                    <br />
                    <img src="~/img/datos_abiertos/logo1.png" id="img_cnbv" alt="cnbv" class="img-responsive center-block img-rounded">
                    <h5 class="text-image">Créditos CNBV</h5>
                </div>
                <div class="col-md-10">
                    <div class="dv_contenido" id="dv_financiamiento">
                        <h3>Financiamientos</h3>
                        <p>
                            Contiene la información de acciones y monto de financiamientos de acuerdo a características del financiamiento,
                            tales como el organismo otorgante, el tipo de financiamiento modalidad y destino; así mismo,
                            contiene características generales del acreditado, como sexo y rango de edad.
                            Lo anterior con desglose a nivel municipal.
                        </p>
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Año:</label>
                                @Html.DropDownList("ddl_anio_f", aniosFinanciamiento, new { @class = "form-control" })
                            </div>
                            <button id="btn_descargar_f" type="button" class="btn btn-warning" onclick="descargar_dato(_financiamiento, _csv);">
                                <span class="glyphicon glyphicon-download-alt"></span> CSV
                            </button>
                            <button id="btn_descargar_f_xlsx" type="button" class="btn btn-success" onclick="descargar_dato(_financiamiento, _xlsx);">
                                <span class="glyphicon glyphicon-download-alt"></span> XLSX
                            </button>
                            <button id="btn_mostrar_f" type="button" class="btn btn-info" onclick="mostrar_dato(_financiamiento, _csv);">
                                <span class="glyphicon glyphicon-eye-open"></span> Previsualizar
                            </button>
                            <button id="btn_copiar_f" type="button" class="btn btn-info" onclick="copiar_dato(_financiamiento, _csv);">
                                <span class="glyphicon glyphicon-link"></span>
                            </button>
                            <div class="form-group">
                                <div class="loader">
                                    <img src="~/img/loader.gif" />
                                </div>
                                <p class='lbl_copy' style='display:none'><strong>¡Copiado!</strong></p>
                            </div>
                        </div>
                        <h3>Metadatos</h3>
                        <div id="tbl_inf_f" class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th scope="row">Título</th>
                                        <td>Financiamientos a la vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Palabra clave</th>
                                        <td>
                                            financiamiento, vivienda, onavis, mejoramientos, autoproducción, vivienda nueva,
                                            vivienda usada, acciones de vivienda, crédito a la vivienda, cofinanciamiento
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 1</th>
                                        <td>Vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 2</th>
                                        <td>Financiamiento</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Descripción general de entidades y atributos</th>
                                        <td><a class="contacto" href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/NGC6R5CLQ6SCexmbnOq4ZA/content/diccionario_financiamiento.xlsx?&a=true" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Diccionario de datos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Año de referencia de los datos</th>
                                        <td>2013 - 2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mes de referencia de los datos</th>
                                        <td><strong>@mes_financiamiento</strong></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Cobertura geográfica</th>
                                        <td>Municipal</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Idioma</th>
                                        <td>ES - Español</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Formato</th>
                                        <td>CSV, XLSX</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Periodicidad</th>
                                        <td>Mensual</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fuentes: Institución/Dependencia/Entidad </th>
                                        <td>CNBV, BANJERCITO, CFE, CONAVI, FONHAPO, FOVISSSTE, HABITAT MEXICO, INFONAVIT, INVI, ISSFAM, PEMEX, SHF...</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Distribución/Distribuciones</th>
                                        <td><a class="contacto" href="https://sniiv.sedatu.gob.mx/Reporte/Datos_abiertos" target="_blank">sniiv.sedatu.gob.mx/Reporte/Datos_abiertos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Institución que generó el metadato</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Unidad administrativa</th>
                                        <td>Dirección General de Desarrollo Urbano, Suelo y Vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Puesto del contacto</th>
                                        <td>Directivo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Teléfono</th>
                                        <td>5568209700</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Correo electrónico</th>
                                        <td><a class="contacto" href="mailto:contacto.sniiv@sedatu.gob.mx">contacto.sniiv@sedatu.gob.mx</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dirección</th>
                                        <td>Nuevo León No. 210, Colonia Hipódromo Condesa, Cuauhtémoc</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Código postal</th>
                                        <td>6100</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Entidad</th>
                                        <td>Ciudad de México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">País</th>
                                        <td>México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Enlace en línea</th>
                                        <td>
                                            <a class="contacto" href="https://www.gob.mx/sedatu" target="_blank">www.gob.mx/sedatu</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de acceso</th>
                                        <td>Acceso al público a través de internet</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de uso</th>
                                        <td>Ninguna, siempre y cuando se mencione la fuente</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fecha de elaboración del metadato</th>
                                        <td>01/04/2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Material de apoyo o referencias</th>
                                        <td>
                                            <a class="contacto" href="https://www.gob.mx/inafed/articulos/conoces-el-codigo-de-edificacion-de-la-vivienda" target="_blank">
                                                Código de Edificación de Vivienda 3a Edición -2017 de la Secretaría de Desarrollo Agrario, Territorial y Urbano (SEDATU) y
                                                el Consejo Nacional de Vivienda (CONAVI)
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="dv_f" style="display:none">
                            <h3>Previsualización</h3>
                            <div id="tbl_f" class="table-responsive table-div"></div>
                        </div>
                    </div>

                    <div class="dv_contenido" id="dv_conavi" style="display:none">
                        <h3>Comisión Nacional de Vivienda</h3>
                        <p>
                            Contiene contiene la información sobre los subsidios de los Programas que opera la CONAVI.
                        </p>
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Año:</label>
                                @Html.DropDownList("ddl_anio_s", aniosSubsidio, new { @class = "form-control" })
                            </div>
                            <button id="btn_descargar_s" type="button" class="btn btn-warning" onclick="descargar_dato(_conavi, _csv);">
                                <span class="glyphicon glyphicon-download-alt"></span> CSV
                            </button>
                            <button id="btn_descargar_s_xlsx" type="button" class="btn btn-success" onclick="descargar_dato(_conavi, _xlsx);">
                                <span class="glyphicon glyphicon-download-alt"></span> XLSX
                            </button>
                            <button id="btn_mostrar_s" type="button" class="btn btn-info" onclick="mostrar_dato(_conavi, _csv);">
                                <span class="glyphicon glyphicon-eye-open"></span> Previsualizar
                            </button>
                            <button id="btn_copiar_s" type="button" class="btn btn-info" onclick="copiar_dato(_conavi, _csv);">
                                <span class="glyphicon glyphicon-link"></span>
                            </button>
                            <div class="form-group">
                                <div class="loader">
                                    <img src="~/img/loader.gif" />
                                </div>
                                <p class='lbl_copy' style='display:none'><strong>¡Copiado!</strong></p>
                            </div>
                        </div>
                        <h3>Metadatos</h3>
                        <div id="tbl_inf_s" class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th scope="row">Título</th>
                                        <td>Subsidios CONAVI</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Palabra clave</th>
                                        <td>
                                            modalidad de subsidio, monto, acciones, rango del valor de la vivienda
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 1</th>
                                        <td>Vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 2</th>
                                        <td>Desarrollo urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Descripción general de entidades y atributos</th>
                                        <td><a class="contacto" href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/sLCCZu0LTm6kluxOAk4qiA/content/diccionario_conavi.xlsx?&a=true" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Diccionario de datos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Año de referencia de los datos</th>
                                        <td>2013 - 2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mes de referencia de los datos</th>
                                        <td><strong>@mes_subsidio</strong></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Cobertura geográfica</th>
                                        <td>Municipal</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Idioma</th>
                                        <td>ES - Español</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Formato</th>
                                        <td>CSV, XLSX</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Periodicidad</th>
                                        <td>Mensual</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fuentes: Institución/Dependencia/Entidad </th>
                                        <td>CONAVI, SEDATU</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Distribución/Distribuciones</th>
                                        <td><a class="contacto" href="https://sniiv.sedatu.gob.mx/Reporte/Datos_abiertos" target="_blank">sniiv.sedatu.gob.mx/Reporte/Datos_abiertos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Institución que generó el metadato</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Unidad administrativa</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Puesto del contacto</th>
                                        <td>Directivo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Teléfono</th>
                                        <td>5568209700</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Correo electrónico</th>
                                        <td><a class="contacto" href="mailto:contacto.sniiv@sedatu.gob.mx">contacto.sniiv@sedatu.gob.mx</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dirección</th>
                                        <td>Nuevo León No. 210, Colonia Hipódromo Condesa, Cuauhtémoc</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Código postal</th>
                                        <td>6100</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Entidad</th>
                                        <td>Ciudad de México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">País</th>
                                        <td>México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Enlace en línea</th>
                                        <td>
                                            <a class="contacto" href="https://www.gob.mx/sedatu" target="_blank">www.gob.mx/sedatu</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de acceso</th>
                                        <td>Acceso al público a través de internet</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de uso</th>
                                        <td>Ninguna, siempre y cuando se mencione la fuente</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fecha de elaboración del metadato</th>
                                        <td>01/04/2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Material de apoyo o referencias</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="dv_s" style="display:none">
                            <h3>Previsualización</h3>
                            <div id="tbl_s" class="table-responsive table-div"></div>
                        </div>
                    </div>

                    <div class="dv_contenido" id="dv_banca" style="display:none">
                        <h3>Comisión Nacional Bancaria y de Valores</h3>
                        <p>
                            Contiene información de monto y acciones de los créditos otorgados por intermediarios
                            financieros que recaba la Comisión Nacional Bancaria y de Valores,
                            así como características socioeconómicas del acreditado y de la vivienda.
                        </p>
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Año:</label>
                                @Html.DropDownList("ddl_anio_cnbv", aniosCnbv, new { @class = "form-control" })
                            </div>
                            <button id="btn_descargar_cnbv" type="button" class="btn btn-warning" onclick="descargar_dato(_cnbv, _csv);">
                                <span class="glyphicon glyphicon-download-alt"></span> CSV
                            </button>
                            <button id="btn_descargar_cnbv_xlsx" type="button" class="btn btn-success" onclick="descargar_dato(_cnbv, _xlsx);">
                                <span class="glyphicon glyphicon-download-alt"></span> XLSX
                            </button>
                            <button id="btn_mostrar_cnbv" type="button" class="btn btn-info" onclick="mostrar_dato(_cnbv, _csv);">
                                <span class="glyphicon glyphicon-eye-open"></span> Previsualizar
                            </button>
                            <button id="btn_copiar_cnbv" type="button" class="btn btn-info" onclick="copiar_dato(_cnbv, _csv);">
                                <span class="glyphicon glyphicon-link"></span>
                            </button>
                            <div class="form-group">
                                <div class="loader">
                                    <img src="~/img/loader.gif" />
                                </div>
                                <p class='lbl_copy' style='display:none'><strong>¡Copiado!</strong></p>
                            </div>
                        </div>
                        <h3>Metadatos</h3>
                        <div id="tbl_inf_cnbv" class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th scope="row">Título</th>
                                        <td>Créditos CNBV</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Palabra clave</th>
                                        <td>
                                            financiamiento, vivienda, onavis, mejoramientos, autoproducción, vivienda nueva,
                                            vivienda usada, acciones de vivienda, crédito a la vivienda, cofinanciamiento
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 1</th>
                                        <td>Vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 2</th>
                                        <td>Financiamiento</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Descripción general de entidades y atributos</th>
                                        <td><a class="contacto" href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/hPw6yCujS1aPX5EMpKBUDg/content/diccionario_cnbv.xlsx?&a=true" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Diccionario de datos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Año de referencia de los datos</th>
                                        <td>2019 - 2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mes de referencia de los datos</th>
                                        <td><strong>@mes_cnbv</strong></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Cobertura geográfica</th>
                                        <td>Municipal</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Idioma</th>
                                        <td>ES - Español</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Formato</th>
                                        <td>CSV, XLSX</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Periodicidad</th>
                                        <td>Mensual</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fuentes: Institución/Dependencia/Entidad </th>
                                        <td>CNBV</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Distribución/Distribuciones</th>
                                        <td><a class="contacto" href="https://sniiv.sedatu.gob.mx/Reporte/Datos_abiertos" target="_blank">sniiv.sedatu.gob.mx/Reporte/Datos_abiertos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Institución que generó el metadato</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Unidad administrativa</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Puesto del contacto</th>
                                        <td>Directivo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Teléfono</th>
                                        <td>5568209700</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Correo electrónico</th>
                                        <td><a class="contacto" href="mailto:contacto.sniiv@sedatu.gob.mx">contacto.sniiv@sedatu.gob.mx</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dirección</th>
                                        <td>Nuevo León No. 210, Colonia Hipódromo Condesa, Cuauhtémoc</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Código postal</th>
                                        <td>6100</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Entidad</th>
                                        <td>Ciudad de México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">País</th>
                                        <td>México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Enlace en línea</th>
                                        <td>
                                            <a class="contacto" href="https://www.gob.mx/sedatu" target="_blank">www.gob.mx/sedatu</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de acceso</th>
                                        <td>Acceso al público a través de internet</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de uso</th>
                                        <td>Ninguna, siempre y cuando se mencione la fuente</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fecha de elaboración del metadato</th>
                                        <td>01/04/2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Material de apoyo o referencias</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="dv_cnbv" style="display:none">
                            <h3>Previsualización</h3>
                            <div id="tbl_cnbv" class="table-responsive table-div"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="r">
            <div class="row">
                <div class="col-md-2 text-center">
                    <img src="~/img/datos_abiertos/logo6.png" id="img_oferta_vivienda" alt="inventario de vivienda" class="img-responsive center-block img-rounded">
                    <h5 class="text-image">Inventario de vivienda</h5>
                    <br />
                    <img src="~/img/datos_abiertos/logo7.png" id="img_registro_vivienda" alt="registro de vivienda" class="img-responsive center-block img-rounded">
                    <h5 class="text-image">Registro de vivienda</h5>
                    <br />
                    <img src="~/img/datos_abiertos/logo8.png" id="img_dias_inventario" alt="dias de inventario" class="img-responsive center-block img-rounded">
                    <h5 class="text-image">Días de inventario</h5>
                </div>
                <div class="col-md-10">
                    <div class="dv_contenido" id="dv_oferta_vivienda">
                        <h3>Inventario de vivienda</h3>
                        <p>
                            Contiene la información que da cuenta de las viviendas y el entorno urbano en el que se están desarrollando.
                        </p>
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Año:</label>
                                @Html.DropDownList("ddl_anio_ov", aniosOferta, new { @class = "form-control" })
                            </div>
                            <button id="btn_descargar_ov" type="button" class="btn btn-warning" onclick="descargar_dato(_ofertaVivienda, _csv);">
                                <span class="glyphicon glyphicon-download-alt"></span> CSV
                            </button>
                            <button id="btn_descargar_ov_xlsx" type="button" class="btn btn-success" onclick="descargar_dato(_ofertaVivienda, _xlsx);">
                                <span class="glyphicon glyphicon-download-alt"></span> XLSX
                            </button>
                            <button id="btn_mostrar_ov" type="button" class="btn btn-info" onclick="mostrar_dato(_ofertaVivienda, _csv);">
                                <span class="glyphicon glyphicon-eye-open"></span> Previsualizar
                            </button>
                            <button id="btn_copiar_ov" type="button" class="btn btn-info" onclick="copiar_dato(_ofertaVivienda, _csv);">
                                <span class="glyphicon glyphicon-link"></span>
                            </button>
                            <div class="form-group">
                                <div class="loader">
                                    <img src="~/img/loader.gif" />
                                </div>
                                <p class='lbl_copy' style='display:none'><strong>¡Copiado!</strong></p>
                            </div>
                        </div>
                        <h3>Metadatos</h3>
                        <div id="tbl_inf_ov" class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th scope="row">Título</th>
                                        <td>Inventario de Vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Palabra clave</th>
                                        <td>
                                            vivienda, segmento, pcu, avance de obra
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 1</th>
                                        <td>Vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 2</th>
                                        <td>Oferta</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Descripción general de entidades y atributos</th>
                                        <td><a class="contacto" href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/vwPjumIKT-6ToJ6_VlHovg/content/diccionario_inventario.xlsx?&a=true" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Diccionario de datos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Año de referencia de los datos</th>
                                        <td>2014 - 2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mes de referencia de los datos</th>
                                        <td><strong>@mes_registro</strong></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Cobertura geográfica</th>
                                        <td>Municipal</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Idioma</th>
                                        <td>ES - Español</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Formato</th>
                                        <td>CSV, XLSX</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Periodicidad</th>
                                        <td>Mensual</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fuentes: Institución/Dependencia/Entidad </th>
                                        <td>Registro Único de Vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Distribución/Distribuciones</th>
                                        <td><a class="contacto" href="https://sniiv.sedatu.gob.mx/Reporte/Datos_abiertos" target="_blank">sniiv.sedatu.gob.mx/Reporte/Datos_abiertos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Institución que generó el metadato</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Unidad administrativa</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Puesto del contacto</th>
                                        <td>Directivo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Teléfono</th>
                                        <td>5568209700</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Correo electrónico</th>
                                        <td><a class="contacto" href="mailto:contacto.sniiv@sedatu.gob.mx">contacto.sniiv@sedatu.gob.mx</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dirección</th>
                                        <td>Nuevo León No. 210, Colonia Hipódromo Condesa, Cuauhtémoc</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Código postal</th>
                                        <td>6100</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Entidad</th>
                                        <td>Ciudad de México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">País</th>
                                        <td>México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Enlace en línea</th>
                                        <td>
                                            <a class="contacto" href="https://www.gob.mx/sedatu" target="_blank">www.gob.mx/sedatu</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de acceso</th>
                                        <td>Acceso al público a través de internet</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de uso</th>
                                        <td>Ninguna, siempre y cuando se mencione la fuente</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fecha de elaboración del metadato</th>
                                        <td>01/04/2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Material de apoyo o referencias</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="dv_ov" style="display:none">
                            <h3>Previsualización</h3>
                            <div id="tbl_ov" class="table-responsive table-div"></div>
                        </div>
                    </div>

                    <div class="dv_contenido" id="dv_registro_vivienda" style="display:none">
                        <h3>Registro de vivienda</h3>
                        <p>
                            Registros de los proyectos de oferta de vivienda nueva y usados en conjuntos habitacionales y
                            en el mercado abierto individual susceptibles a recibir financiamientos para su edificación o
                            adquisición por los Organismos Nacionales de Vivienda (ONAVIS), Banca o Sofoles/Sofomes.
                        </p>
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Año:</label>
                                @Html.DropDownList("ddl_anio_rv", aniosRegistro, new { @class = "form-control" })
                            </div>
                            <button id="btn_descargar_rv" type="button" class="btn btn-warning" onclick="descargar_dato(_registroVivienda, _csv);">
                                <span class="glyphicon glyphicon-download-alt"></span> CSV
                            </button>
                            <button id="btn_descargar_rv_xlsx" type="button" class="btn btn-success" onclick="descargar_dato(_registroVivienda, _xlsx);">
                                <span class="glyphicon glyphicon-download-alt"></span> XLSX
                            </button>
                            <button id="btn_mostrar_rv" type="button" class="btn btn-info" onclick="mostrar_dato(_registroVivienda, _csv);">
                                <span class="glyphicon glyphicon-eye-open"></span> Previsualizar
                            </button>
                            <button id="btn_copiar_rv" type="button" class="btn btn-info" onclick="copiar_dato(_registroVivienda, _csv);">
                                <span class="glyphicon glyphicon-link"></span>
                            </button>
                            <div class="form-group">
                                <div class="loader">
                                    <img src="~/img/loader.gif" />
                                </div>
                                <p class='lbl_copy' style='display:none'><strong>¡Copiado!</strong></p>
                            </div>
                        </div>
                        <h3>Metadatos</h3>
                        <div id="tbl_inf_rv" class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th scope="row">Título</th>
                                        <td>Registro de Vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Palabra clave</th>
                                        <td>
                                            registro de vivienda, segmento, pcu, tipo de vivienda, superficie construida, recamaras
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 1</th>
                                        <td>Vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 2</th>
                                        <td>Desarrollo urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Descripción general de entidades y atributos</th>
                                        <td><a class="contacto" href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/LfbjRROLT0O53NdZF8LbQA/content/diccionario_registro.xlsx?&a=true" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Diccionario de datos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Año de referencia de los datos</th>
                                        <td>2010 - 2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mes de referencia de los datos</th>
                                        <td><strong>@mes_registro</strong></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Cobertura geográfica</th>
                                        <td>Municipal</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Idioma</th>
                                        <td>ES - Español</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Formato</th>
                                        <td>CSV, XLSX</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Periodicidad</th>
                                        <td>Mensual</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fuentes: Institución/Dependencia/Entidad </th>
                                        <td>RUV, SEDATU</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Distribución/Distribuciones</th>
                                        <td><a class="contacto" href="https://sniiv.sedatu.gob.mx/Reporte/Datos_abiertos" target="_blank">sniiv.sedatu.gob.mx/Reporte/Datos_abiertos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Institución que generó el metadato</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Unidad administrativa</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Puesto del contacto</th>
                                        <td>Directivo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Teléfono</th>
                                        <td>5568209700</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Correo electrónico</th>
                                        <td><a class="contacto" href="mailto:contacto.sniiv@sedatu.gob.mx">contacto.sniiv@sedatu.gob.mx</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dirección</th>
                                        <td>Nuevo León No. 210, Colonia Hipódromo Condesa, Cuauhtémoc</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Código postal</th>
                                        <td>6100</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Entidad</th>
                                        <td>Ciudad de México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">País</th>
                                        <td>México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Enlace en línea</th>
                                        <td>
                                            <a class="contacto" href="https://www.gob.mx/sedatu" target="_blank">www.gob.mx/sedatu</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de acceso</th>
                                        <td>Acceso al público a través de internet</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de uso</th>
                                        <td>Ninguna, siempre y cuando se mencione la fuente</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fecha de elaboración del metadato</th>
                                        <td>01/04/2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Material de apoyo o referencias</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="dv_rv" style="display:none">
                            <h3>Previsualización</h3>
                            <div id="tbl_rv" class="table-responsive table-div"></div>
                        </div>
                    </div>

                    <div class="dv_contenido" id="dv_dias_inventario" style="display:none">
                        <h3>Días de inventario</h3>
                        <p>
                            Datos sobre viviendas nuevas y duración (fechas) del proceso de construcción y venta.
                            Contiene información de las características físicas de la vivieda como: ubicación, pcu,
                            superficie construida, datos generales del beneficiario, fechas de la vivienda y tipos de subsidio.
                        </p>
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Año:</label>
                                @Html.DropDownList("ddl_anio_di", aniosInventario, new { @class = "form-control" })
                            </div>
                            <button id="btn_descargar_di" type="button" class="btn btn-warning" onclick="descargar_dato(_diasInventario, _csv);">
                                <span class="glyphicon glyphicon-download-alt"></span> CSV
                            </button>
                            <button id="btn_descargar_di_xlsx" type="button" class="btn btn-success" onclick="descargar_dato(_diasInventario, _xlsx);">
                                <span class="glyphicon glyphicon-download-alt"></span> XLSX
                            </button>
                            <button id="btn_mostrar_di" type="button" class="btn btn-info" onclick="mostrar_dato(_diasInventario, _csv);">
                                <span class="glyphicon glyphicon-eye-open"></span> Previsualizar
                            </button>
                            <button id="btn_copiar_di" type="button" class="btn btn-info" onclick="copiar_dato(_diasInventario, _csv);">
                                <span class="glyphicon glyphicon-link"></span>
                            </button>
                            <div class="form-group">
                                <div class="loader">
                                    <img src="~/img/loader.gif" />
                                </div>
                                <p class='lbl_copy' style='display:none'><strong>¡Copiado!</strong></p>
                            </div>
                        </div>
                        <h3>Metadatos</h3>
                        <div id="tbl_inf_di" class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th scope="row">Título</th>
                                        <td>Días de inventario</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Palabra clave</th>
                                        <td>
                                            vivienda, onavis, inventario, subsidio de vivienda
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 1</th>
                                        <td>Vivienda</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dominio temático 2</th>
                                        <td>Desarrollo urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Descripción general de entidades y atributos</th>
                                        <td><a class="contacto" href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/WIi573qYQb2rq0amIHPC9Q/content/diccionario_dias_inventario.xlsx?&a=true" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Diccionario de datos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Año de referencia de los datos</th>
                                        <td>2015 - 2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mes de referencia de los datos</th>
                                        <td><strong>@trimestre_inventario</strong></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Cobertura geográfica</th>
                                        <td>Municipal</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Idioma</th>
                                        <td>ES - Español</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Formato</th>
                                        <td>CSV, XLSX</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Periodicidad</th>
                                        <td>Trimestral</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fuentes: Institución/Dependencia/Entidad </th>
                                        <td>RUV, SEDATU</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Distribución/Distribuciones</th>
                                        <td><a class="contacto" href="https://sniiv.sedatu.gob.mx/Reporte/Datos_abiertos" target="_blank">sniiv.sedatu.gob.mx/Reporte/Datos_abiertos</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Institución que generó el metadato</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Unidad administrativa</th>
                                        <td>Secretaría de Desarrollo Agrario, Territorial y Urbano</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Puesto del contacto</th>
                                        <td>Directivo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Teléfono</th>
                                        <td>5568209700</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Correo electrónico</th>
                                        <td><a class="contacto" href="mailto:contacto.sniiv@sedatu.gob.mx">contacto.sniiv@sedatu.gob.mx</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dirección</th>
                                        <td>Nuevo León No. 210, Colonia Hipódromo Condesa, Cuauhtémoc</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Código postal</th>
                                        <td>6100</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Entidad</th>
                                        <td>Ciudad de México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">País</th>
                                        <td>México</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Enlace en línea</th>
                                        <td>
                                            <a class="contacto" href="https://www.gob.mx/sedatu" target="_blank">www.gob.mx/sedatu</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de acceso</th>
                                        <td>Acceso al público a través de internet</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Restricciones de uso</th>
                                        <td>Ninguna, siempre y cuando se mencione la fuente</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fecha de elaboración del metadato</th>
                                        <td>01/04/2022</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Material de apoyo o referencias</th>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="dv_di" style="display:none">
                            <h3>Previsualización</h3>
                            <div id="tbl_di" class="table-responsive table-div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="c">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Perímetros de Contención Urbana 2018
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>Mapas con los PCU de las localidades urbanas (igual o mayor de 15,000 hab) del Sistema Urbano Nacional.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>SHP</h3>
                                    <div class="list-group">
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/DXsbGoZTTgG5ytFIlvu-LQ/content/PCU_2018_SHP.zip?a=true" class="list-group-item">2018</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/eTAspeO4RI2i09hhlXwLmg/content/PCU_2017_SHP.rar?a=true" class="list-group-item">2017</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/5gUvH-fRQO296iuU3Q2kng/content/PCU_2015_SHP.rar?a=true" class="list-group-item">2015</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/m-AqF8sSTGysGiaZcNf-3g/content/PCU_2014_SHP.rar?a=true" class="list-group-item">2014</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/KMv6RCVhR3OE2ii5Y-IkFA/content/PCU_2013_SHP.rar?a=true" class="list-group-item">2013</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>KMZ</h3>
                                    <div class="list-group">
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/mnrITkcrS7WLzZvlVnfUpA/content/PCU_2018_KMZ.zip?a=true" class="list-group-item">2018</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/Uy-RvjA9SQqKt_iy_b7w0g/content/PCU_2017_KMZ.rar?a=true" class="list-group-item">2017</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/ZchOlyEHREue6-HuiW9_4w/content/PCU_2015_KMZ.rar?a=true" class="list-group-item">2015</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/i-WVJRrRT_W-sGljRf1GuQ/content/PCU_2014_KMZ.rar?a=true" class="list-group-item">2014</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/rD42J7YcRD6FHIQb03wZ3A/content/PCU_2013_KMZ.rar?a=true" class="list-group-item">2013</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="d">
            <h2 class="section-title">API's de sniiv.sedatu.gob.mx</h2>
            <h5 class="text-image">Un API o Application Programming Interface es un servicio de definiciones y protocoles para un sistema que recibe peticiones para la ejecución de una tarea previamente programa. El sistema de sniiv.sedatu.gob.mx cuenta con API's, cuya finalidad es la de que los usuarios puedan consultar información de datos abiertos, de manera manera acceder a los datos alojados sobre el estado actual del sistema.</h5>
        </div>
        <div class="col-md-10">
            <div id="dv_devep">
                <h3>Documentación</h3>
                <p>
                    Para la documentación, generación de codigo y casos de prueba se ha implementado Swagger,
                    como herramienta para permitir la conexión directa a las API's utilizadas en este sistema,
                    a través de una interfaz de usuario interactiva.

                    Si quieres conocer más sobre los datos alojados, y hacer uso de ellos, ingresa al siguiente
                    end-point:
                </p>
                <button href="https://localhost:44369/swagger/" id="btn_swagger" type="button" target="_blank" class="btn btn-success" onclick="window.location.href='https://localhost:44369/swagger/';">
                    <span class="glyphicon glyphicon-link"> </span>CATÁLOGO DE API'S'
                </button>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <p> </p><a> </a><p> </p><a> .</a>
            <img src="~/img/datos_abiertos/logo9.png" id="img_dev" alt="deveploment" class="center-block img-rounded">
        </div>
    </div>
</div>