@{
    ViewData["Title"] = "Datos abiertos";

    List<SelectListItem> aniosSubsidio = (List<SelectListItem>)ViewBag.aniosSubsidio;
    List<SelectListItem> mesesSubsidio = (List<SelectListItem>)ViewBag.mesesSubsidio;

    List<SelectListItem> aniosFinanciamiento = (List<SelectListItem>)ViewBag.aniosFinanciamiento;
    List<SelectListItem> mesesFinanciamiento = (List<SelectListItem>)ViewBag.mesesFinanciamiento;

    List<SelectListItem> aniosOferta = (List<SelectListItem>)ViewBag.aniosOferta;
    List<SelectListItem> mesesOferta = (List<SelectListItem>)ViewBag.mesesOferta;

    List<SelectListItem> aniosRegistro = (List<SelectListItem>)ViewBag.aniosRegistro;
    List<SelectListItem> mesesRegistro = (List<SelectListItem>)ViewBag.mesesRegistro;

    List<SelectListItem> aniosInventario = (List<SelectListItem>)ViewBag.aniosInventario;
    List<SelectListItem> mesesInventario = (List<SelectListItem>)ViewBag.mesesInventario;

    List<SelectListItem> aniosCnbv = (List<SelectListItem>)ViewBag.aniosCnbv;
    List<SelectListItem> mesesCnbv = (List<SelectListItem>)ViewBag.mesesCnbv;
}

@section Scripts{
    <script src="~/js/util.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('[id$=ddl_anio_s]').change(function () {
                mostrar_mes_s();
            });
            $('[id$=ddl_anio_f]').change(function () {
                mostrar_mes_f();
            });
            $('[id$=ddl_anio_ov]').change(function () {
                mostrar_mes_ov();
            });
            $('[id$=ddl_anio_rv]').change(function () {
                mostrar_mes_rv();
            });
            $('[id$=ddl_anio_di]').change(function () {
                mostrar_mes_di();
            });
            $('[id$=ddl_anio_cnbv]').change(function () {
                mostrar_mes_cnbv();
            });

            $('#tab-active').addClass('active');
            $(".lst").click(function () {
                $("#lbl_subtitulo").text($(this).first().text());
            });
        });

        var anio, tipo;
        function mostrar_mes_s() {
            tipo = 1;
            anio = $('#ddl_anio_s').val();
            $.getJSON(path + 'CatalogoAPI/GetMesDatosAbiertos/' + tipo + '/' + anio, function (json) {
                $('#ddl_mes_s').empty();
                $.each(json, function (key, obj) {
                    $('#ddl_mes_s').append($('<option></option>').attr('value', obj.id).text(obj.descripcion));
                });
            });
        }
        function mostrar_mes_f() {
            tipo = 2;
            anio = $('#ddl_anio_f').val();
            $.getJSON(path + 'CatalogoAPI/GetMesDatosAbiertos/' + tipo + '/' + anio, function (json) {
                $('#ddl_mes_f').empty();
                $.each(json, function (key, obj) {
                    $('#ddl_mes_f').append($('<option></option>').attr('value', obj.id).text(obj.descripcion));
                });
            });
        }
        function mostrar_mes_ov() {
            tipo = 3;
            anio = $('#ddl_anio_ov').val();
            $.getJSON(path + 'CatalogoAPI/GetMesDatosAbiertos/' + tipo + '/' + anio, function (json) {
                $('#ddl_mes_ov').empty();
                $.each(json, function (key, obj) {
                    $('#ddl_mes_ov').append($('<option></option>').attr('value', obj.id).text(obj.descripcion));
                });
            });
        }
        function mostrar_mes_rv() {
            tipo = 4;
            anio = $('#ddl_anio_rv').val();
            $.getJSON(path + 'CatalogoAPI/GetMesDatosAbiertos/' + tipo + '/' + anio, function (json) {
                $('#ddl_mes_rv').empty();
                $.each(json, function (key, obj) {
                    $('#ddl_mes_rv').append($('<option></option>').attr('value', obj.id).text(obj.descripcion));
                });
            });
        }
        function mostrar_mes_di() {
            tipo = 5;
            anio = $('#ddl_anio_di').val();
            $.getJSON(path + 'CatalogoAPI/GetMesDatosAbiertos/' + tipo + '/' + anio, function (json) {
                $('#ddl_mes_di').empty();
                $.each(json, function (key, obj) {
                    $('#ddl_mes_di').append($('<option></option>').attr('value', obj.id).text(obj.descripcion));
                });
            });
        }
        function mostrar_mes_cnbv() {
            tipo = 7;
            anio = $('#ddl_anio_cnbv').val();
            $.getJSON(path + 'CatalogoAPI/GetMesDatosAbiertos/' + tipo + '/' + anio, function (json) {
                $('#ddl_mes_cnbv').empty();
                $.each(json, function (key, obj) {
                    $('#ddl_mes_cnbv').append($('<option></option>').attr('value', obj.id).text(obj.descripcion));
                });
            });
        }

        var formato = 1;
        function descargar_dato(tipo, anio, mes) {
            $.getJSON(path + 'ReporteAPI/GetDocumentoMes/' + tipo + '/' + anio + '/' + mes + '/' + formato, function (json) {
                var items = [];
                $.each(json, function (key, val) {
                    items.push(val);
                });
                window.open(items[0]);
            });
        }

        var name_file;
        function descargarSubsidios() {
            name_file = $('[id$=ddl_anio_s]').val() + pad($('[id$=ddl_mes_s]').val(), 2) + '.csv';
            window.open(host_path + 'doc/datos_abiertos/subsidios/' + name_file);
        }
        function descargarFinanciamientos() {
            name_file = $('[id$=ddl_anio_f]').val() + pad($('[id$=ddl_mes_f]').val(), 2) + '.csv';
            window.open(host_path + 'doc/datos_abiertos/financiamientos/' + name_file);
        }
        function descargarOfertaVivienda() {
            name_file = $('[id$=ddl_anio_ov]').val() + pad($('[id$=ddl_mes_ov]').val(), 2) + '.csv';
            window.open(host_path + 'doc/datos_abiertos/oferta_vivienda/' + name_file);
        }
        function descargarRegistroVivienda() {
            name_file = $('[id$=ddl_anio_rv]').val() + pad($('[id$=ddl_mes_rv]').val(), 2) + '.csv';
            window.open(host_path + 'doc/datos_abiertos/registro_vivienda/' + name_file);
        }
        function descargarDiasInventario() {
            name_file = $('[id$=ddl_anio_di]').val() + pad($('[id$=ddl_mes_di]').val(), 2) + '.csv';
            window.open(host_path + 'doc/datos_abiertos/dias_inventario/' + name_file);
        }
        function descargarCnbv() {
            name_file = $('[id$=ddl_anio_cnbv]').val() + pad($('[id$=ddl_mes_cnbv]').val(), 2) + '.csv';
            window.open(host_path + 'doc/datos_abiertos/cnbv/' + name_file);
        }
    </script>
}

<div class="page-header">
    <h2>Histórico de Datos Abiertos</h2>
</div>

<div id="tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" id="tab-active" class="lst"><a href="#s" aria-controls="s" role="tab" data-toggle="tab">Subsidios CONAVI</a></li>
        <li role="presentation" class="lst"><a href="#f" aria-controls="f" role="tab" data-toggle="tab">Financiamientos de vivienda</a></li>
        <li role="presentation" class="lst"><a href="#ov" aria-controls="ov" role="tab" data-toggle="tab">Inventario de Vivienda</a></li>
        <li role="presentation" class="lst"><a href="#rv" aria-controls="rv" role="tab" data-toggle="tab">Registro de vivienda</a></li>
        <li role="presentation" class="lst"><a href="#di" aria-controls="di" role="tab" data-toggle="tab">Días de inventario</a></li>
        <!--<li role="presentation" class="lst"><a href="#rh" aria-controls="rh" role="tab" data-toggle="tab">Rezago habitacional</a></li>-->
        <li role="presentation" class="lst"><a href="#cg" aria-controls="cg" role="tab" data-toggle="tab">Capas geográficas</a></li>
        <li role="presentation" class="lst"><a href="#cnbv" aria-controls="cnbv" role="tab" data-toggle="tab">CNBV</a></li>
    </ul>
    <br />
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="s">
            <div class="form-inline">
                <div class="form-group">
                    <label>Año:</label>
                    @Html.DropDownList("ddl_anio_s", aniosSubsidio, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Mes:</label>
                    @Html.DropDownList("ddl_mes_s", mesesSubsidio, new { @class = "form-control" })
                </div>
                <button id="btn_descargar_s" type="button" class="btn btn-default" onclick="descargar_dato(1,$('[id$=ddl_anio_s]').val(),$('[id$=ddl_mes_s]').val());">
                    <span class="glyphicon glyphicon-download-alt"></span> Descargar
                </button>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="f">
            <div class="form-inline">
                <div class="form-group">
                    <label>Año:</label>
                    @Html.DropDownList("ddl_anio_f", aniosFinanciamiento, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Mes:</label>
                    @Html.DropDownList("ddl_mes_f", mesesFinanciamiento, new { @class = "form-control" })

                </div>
                <button id="btn_descargar_f" type="button" class="btn btn-default" onclick="descargar_dato(2,$('[id$=ddl_anio_f]').val(),$('[id$=ddl_mes_f]').val());">
                    <span class="glyphicon glyphicon-download-alt"></span> Descargar
                </button>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="ov">
            <div class="form-inline">
                <div class="form-group">
                    <label>Año:</label>
                    @Html.DropDownList("ddl_anio_ov", aniosOferta, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Mes:</label>
                    @Html.DropDownList("ddl_mes_ov", mesesOferta, new { @class = "form-control" })
                </div>
                <button id="btn_descargar_ov" type="button" class="btn btn-default" onclick="descargar_dato(3,$('[id$=ddl_anio_ov]').val(),$('[id$=ddl_mes_ov]').val());">
                    <span class="glyphicon glyphicon-download-alt"></span> Descargar
                </button>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="rv">
            <div class="form-inline">
                <div class="form-group">
                    <label>Año:</label>
                    @Html.DropDownList("ddl_anio_rv", aniosRegistro, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Mes:</label>
                    @Html.DropDownList("ddl_mes_rv", mesesRegistro, new { @class = "form-control" })
                </div>
                <button id="btn_descargar_rv" type="button" class="btn btn-default" onclick="descargar_dato(4,$('[id$=ddl_anio_rv]').val(),$('[id$=ddl_mes_rv]').val());">
                    <span class="glyphicon glyphicon-download-alt"></span> Descargar
                </button>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="di">
            <div class="form-inline">
                <div class="form-group">
                    <label>Año:</label>
                    @Html.DropDownList("ddl_anio_di", aniosInventario, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Mes:</label>
                    @Html.DropDownList("ddl_mes_di", mesesInventario, new { @class = "form-control" })
                </div>
                <button id="btn_descargar_di" type="button" class="btn btn-default" onclick="descargar_dato(5,$('[id$=ddl_anio_di]').val(),$('[id$=ddl_mes_di]').val());">
                    <span class="glyphicon glyphicon-download-alt"></span> Descargar
                </button>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="rh">
            <div class="form-inline">
                <div class="form-group">
                    <label>Rezago:</label>
                    <select id="ddl_rezago_rh" class="form-control">
                        <option selected="selected" value="1">Estatal</option>
                        <option value="2">Municipal</option>
                    </select>
                </div>
                <asp:Button ID="btn_export" class="btn btn-default" runat="server" Text="Descargar" OnClick="btn_download" />
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="cg">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Perímetros de Contención Urbana 2018
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>Mapas con los PCU de las localidades urbanas (igual o mayor de 15,000 hab) del Sistema Urbano Nacional.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>SHP</h3>
                                    <div class="list-group">
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/DXsbGoZTTgG5ytFIlvu-LQ/content/PCU_2018_SHP.zip?a=true" class="list-group-item">2018</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/eTAspeO4RI2i09hhlXwLmg/content/PCU_2017_SHP.rar?a=true" class="list-group-item">2017</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/5gUvH-fRQO296iuU3Q2kng/content/PCU_2015_SHP.rar?a=true" class="list-group-item">2015</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/m-AqF8sSTGysGiaZcNf-3g/content/PCU_2014_SHP.rar?a=true" class="list-group-item">2014</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/KMv6RCVhR3OE2ii5Y-IkFA/content/PCU_2013_SHP.rar?a=true" class="list-group-item">2013</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>KMZ</h3>
                                    <div class="list-group">
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/mnrITkcrS7WLzZvlVnfUpA/content/PCU_2018_KMZ.zip?a=true" class="list-group-item">2018</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/Uy-RvjA9SQqKt_iy_b7w0g/content/PCU_2017_KMZ.rar?a=true" class="list-group-item">2017</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/ZchOlyEHREue6-HuiW9_4w/content/PCU_2015_KMZ.rar?a=true" class="list-group-item">2015</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/i-WVJRrRT_W-sGljRf1GuQ/content/PCU_2014_KMZ.rar?a=true" class="list-group-item">2014</a>
                                        <a href="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/rD42J7YcRD6FHIQb03wZ3A/content/PCU_2013_KMZ.rar?a=true" class="list-group-item">2013</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="cnbv">
            <div class="form-inline">
                <div class="form-group">
                    <label>Año:</label>
                    @Html.DropDownList("ddl_anio_cnbv", aniosCnbv, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Mes:</label>
                    @Html.DropDownList("ddl_mes_cnbv", mesesCnbv, new { @class = "form-control" })
                </div>
                <button id="btn_descargar_cnbv" type="button" class="btn btn-default" onclick="descargar_dato(7,$('[id$=ddl_anio_cnbv]').val(),$('[id$=ddl_mes_cnbv]').val());">
                    <span class="glyphicon glyphicon-download-alt"></span>Descargar
                </button>
            </div>
        </div>
    </div>
</div>